#page {
  display: flex;
  flex-direction: row;
}

#left_side {
  position: absolute;
  flex-grow: 1;
}

#left_text {
  position: relative;
  bottom: 80vh;
  left: 200px;
}

#right_side {
  position: absolute;
  flex-grow: 1;
}

#right_text {
  position: relative;
  bottom: 80vh;
  left:10px;
}

#full_name {
  font-size: 40px;
}

#first_name {
  color: white;
}
