<div id="page" class="d-flex">
  <div id="flex-item left_side">
    <%= image_tag 'laptop_coffee.jpg', style:"width: 40%; height: 100vh;" %>
    <div id="left_text">
      <h5>Hi, I am</h5>
      <h1 id="full_name"><span id="first_name">LUCA</span> KUHN</h1>
      <h5>I am a passionate fullstack developer based in London.</h5>
      <%= link_to "Find out more", "#", class:"btn btn-main" %>
    </div>
  </div>

</div>
